/*=================================================================
  Dashboard Css
==================================================================*/

@media screen and (min-width: 1440px){

  .__dasepl {
    margin: 5% 0 0 65px;
    width: 870px;
  }

  .__dasepl span:nth-child(1) {
    margin-left: 23%;
  }

}

@media screen and (max-width: 1220px){
  .__dasepl {
    margin: 5% 0 0 72px;
    width: 865px;
  }

  .__dasepl span:nth-child(1) {
    margin-left: 22%;
  }

  .__pa {
    margin: 45px 8px 9px 70px;
    width: 869px;
  }

  .__addag {
    margin: 45px 8px 9px 70px;
    width: 869px;
  }

  .__dasempl {
    margin: 45px 8px 9px 76px;
    width: 865px;
  }

  .bigers {
    width: 58%;
    margin-top: 0%;
    margin-left: 227px;
  }

  .__tabov {
    margin: 5% 0 0 89px;
    width: 866px;
  }

  .__profbtn {
    width: 165px;
  }

  .__prof1btn {
    width: 165px;
  }

  .__bidsov {
    margin: 2% 7%;
    width: 911px;
  }

  .__taladownimg img {
    margin-left: -13px;
  }


}

@media screen and (max-width: 1024px){
  .leftbar {
  padding-top: 10%;
  }
  .leftbart {
  padding-top: 4%;
  width: 205px;
  }

  .__dasepl span:nth-child(1) {
    padding: 14px 29px;
    margin-left: 5%;
  }

  .__dasepl {
    margin: 5% 0px 0px 87px;
    /*width: 805px;*/
    width: 727px;
  }

  .__dasepl1 {
    margin: 45px 8px 9px 92px;
    width: 723px;
  }

  .__dascard {
    width: 100%;
  }

  .__dasempl {
      margin: 45px 0px 9px 91px;
    width: 707px;
  }

  .__pa {
    margin: 45px 8px 9px 89px;
    width: 726px;
  }
  .__addag {
    margin: 45px 8px 9px 89px;
    width: 726px;
  }

  .bigers {
    width: 67%;
    margin-top: 3%;
    margin-left: 139px;
  }

  .__tabov {
    margin: 5% 0 0 82px;
    width: 721px;
  }

  .__trvto {
    padding: 10px 20px 3px;
  }

  .__nav-pills li a {
    padding: 20px 10px 9px;
  }

  .__profbtn {
    font-family: AvenirLTStd-Medium;
    width: 142px;
  }
  .__prof1btn {
    font-family: AvenirLTStd-Medium;
    width: 142px;
  }

  .__upl {
    padding: 40px 66px;
  }


}

@media screen and (max-width: 992px) {
  
  
  .__dasepl {
      margin: 5% 0px 0px 87px;
      width: 712px;
  }

  .__pa {
    margin: 45px 8px 9px 89px;
    width: 709px;
  }
  .__addag {
    margin: 45px 8px 9px 89px;
    width: 709px;
  }

  .__dasepl span:nth-child(1) {
    margin-left: 3%;
  }

  .__taladownimg img {
    margin-left: -16px;
  }

}

@media screen and (max-width: 800px){
  .leftbar{
    transform: translate(-300px);
    top: 0%;
  }

  .leftbart{
    transform: translate(-300px);
    top: 0%;
  }
  #openSidebar{
    display: block !important;
    cursor: pointer !important;
    margin-top: 17px;
  }
  img#closebtn {
     display: block;
     top: 3%;
    left: 5%;
  }

  .__dast {
    margin-top: 0%;
  }


  .__dasepl {
    margin: 7% 0 0 0;
    width: 100%;
  }

  .__dasepl1 {
    margin: 45px 8px 9px 0;
    width: 100%;
  }

  .__dascard {
    width: 100%;
  }

  .__dashnav{
    z-index: 1;
  }

  .__dasepl span:nth-child(1) {
    padding: 14px 29px;
    margin-left: 24%;
  }

  .__dascard p:nth-child(2) {
    font-size: 14px;
  }

  .__dascard p:nth-child(3) {
    font-size: 20px;
  }

  .__dasempl {
    margin: 12px 8px 9px 0px;
    width: 736px;
  }

  .__pa {
    margin: 45px 8px 9px 0px;
    width: 100%;
  }
  .__addag {
    margin: 45px 8px 9px 0px;
    width: 100%;
  }

  .bigers {
    width: 66%;
    margin-top: 0%;
    margin-left: 148px;
  }

  .__tabov {
    margin: 7% 0 0 0px;
    width: 100%;
  }

  .__trvto {
    padding: 10px 24px 3px;
  }

  .__nav-pills li a {
    padding: 20px 5px 9px;
  }

  .__profbtn {
    width: 140px;
  }

  .__prof1btn {
    width: 140px;
  }

  .__travtbids {
    padding: 5px 1px;
  }

  .__pfin {
    padding: 33px 30px;
  }


}


@media screen and (max-width: 568px) {

    .__dast{
    margin-top: 10%;
  }

  .__dashnav{
    z-index: 1;
    height: 56px;
  }
  
  .biger{
    width: 80% ;
    transform: translate(0px) !important;
    z-index:1  !important;
    
  }

  .leftbar{
    transform: translate(-1000px);
    top: 0%;
  }

  .leftbart{
    transform: translate(-1000px);
    top: 0%;
  }
  #openSidebar{
    display: block !important;
    cursor: pointer !important;
  }

  /*for image close*/
  img#closebtn {
     display: block;
     top: 3%;
    left: 5%;
  }

  i#closebtn {
     display: block;
     top: 2%;
    left: 5%;
  }

  #openSidebar {
    margin-top: 2px;
  }

  .maianer {
      padding: 10px 20px;
  }
  .mr-125 { right:125px !important; }


  /*right slider side*/
  .bigers {
    width: 82%;
    margin-top: 0%;
    margin-left: 57px;
  }

  img#rightclosebtns {
    margin-left: 233px;
  }

/*end*/

  .__profimg {
    margin-left: 77px;
  }


  .__dasepl {
    width: 100%;
    margin: 12% 0 0 !important;
  }

  .__dasepl1 {
    margin: 0;
    width: 100%;
  }

  .__dascard {
    width: 100%;
    margin-top: 10px;
  }

  .__dasepl span:nth-child(1) {
    padding: 0;
    margin-left: 0;
  }

  .__dasepl span:nth-child(3) {
    padding: 4px;
  }

  .__dassc {
    margin-bottom: 10px;
  }

  /*.__logo {
    width: 80px;
    margin-top: -10px;
    margin-left: 48px;
  }*/

  .navbar-toggle {
    /* border: 2px solid #FFFFFF; */
    color: #ffffff;
    background: #433e59;
  }

  .__dascard p:nth-child(2) {
    font-size: 10px;
    margin-bottom: 0px;
    padding: 3px 10px;
  }
  .__dascard p:nth-child(3) {
    font-size: 15px;
    margin-bottom: 0px;
    padding: 3px 10px 10px;
  }

  .__pa {
    margin: 1px 8px 9px 0px;
    width: 100%;
  }
  .__addag {
    margin: 1px 8px 9px 0px;
    width: 100%;
  }

  .__pro1 {
    font-size: 12px;
  }

  .__pro2 {
    font-size: 12px;
  }

  .__pfin {
    padding: 20px 10px;
  }

  .__pfpa {
    padding: 10px 27px;
  }

  .__prof {
    padding: 12px 11px;
  }

  .__setp {
    border: 1px solid #e6e6e6;
    text-align: center;
    padding: 20px 9px;
  }

  .__tabov {
    margin: 17% 0 0 0px;
    width: 100%;
  }

  .__trvto {
    padding: 10px 13px 3px;
  }

  .__nav-pills li a {
    padding: 20px 2px 9px;
  }

  .__tab {
    padding: 15px 9px;
  }

  .__upl {
    padding: 25px 15px;
  }

  .__it .btn-new, .__it .btn-next {
    margin: 5px 0px;
    font-size: 16px;
    width: 123px;
  }

  .__accordion {
    padding: 18px 20px;
  }

  .panel {
    padding: 0 18px;
  }

  .__profbtn {
    width: 120px;
  }
  .__prof1btn {
    width: 120px;
  }

  .__proft {
    border-right: none;
  }

  .__prp{
    text-align: center;
  }

  .__prp p:nth-child(1) {
    font-size: 11px;
  }

  .__prp p:nth-child(2) {
    font-size: 11px;
  }

  .__prp p:nth-child(3) {
    font-size: 14px;
  }
  .__prp p:nth-child(4) {
    font-size: 12px;
  }

  

  .__bidq {
    margin-top: -5px;
    margin-left: -6px;
  }

  .__bids img {
    width: 30px;
    height: 32px;
    margin-top: -35px;
  }

  .__bids7 p:nth-child(1) {
    font-size: 12px;
  }

  .__bids7 p:nth-child(2) {
    font-size: 11px;
  }
  .__bidsp p {
    font-size: 11px;
  }



}


/*=================================================================
  Dashboard Css end
==================================================================*/








/*=================================================================
  @media screen 1440px
==================================================================*/


@media screen and (min-width: 1440px){
   
  .__vcimg img {
    width: 907px;
  }

  .__vcimg1 img {
    width: 446px;
  }

  .__navm {
    bottom: -195px;
    margin: 0 0 0 241px;
    padding: 20px 0;
  }

  .__overflow {
    height: 356px;
  }


}

/*=================================================================
  @media screen 1199px
==================================================================*/


@media screen and (max-width: 1199px){
   
  

}


/*=================================================================
  @media screen 1220px
==================================================================*/


@media screen and (max-width: 1220px){
  
  .__navm {
    bottom: -243px;
    margin: 0px 0 0 159px;
   }

  .__msgin {
    margin: 20px 0px 20px 57px;
    width: 900px;
  }

 /* .__pane-vScroll {
    width: 926px;
  }*/


  .__overflow {
    height: 356px;
  }


}


/*=================================================================
  @media screen 1024px
==================================================================*/


@media screen and (max-width: 1024px){
  /*talaros*/
  .__talaour {
    margin-top: -62px;
    padding: 0 40px;
  }

  .__foter {
    padding: 39px 93px;
  }
  /*end*/
  .__talaimg img {
    margin-left: 25px;
  }
  
  .__mapfram {
    width: 100%;
    height: 425px;
  }

  

}


/*=================================================================
  @media screen 992px
==================================================================*/


@media screen and (max-width: 992px){
  /*talaros*/
  .__fcardpostion {
    width: 474px;
  }
  /*end*/


  


}


/*=================================================================
  @media screen 800px
==================================================================*/

@media screen and (max-width: 800px){
  /*talaros*/
  .__fcardpostion {
    position: absolute;
    top: -243px;
    width: 360px;
  }

  .__visad {
    margin-top: 20%;
    height: 100%;
  }

  .__ibg {
    min-height: 370px;
  }

  .__dropimg img {
    width: 70px;
  }

  .__talaour {
    margin-top: -47px;
    padding: 0;
  }

  .__taladownimg img {
    margin-left: -20px;
    width: 70px;
  }

  .__whateverpad {
    padding: 14px 0;
  }

  .__fh {
    font-size: 15px;
  }

  .__foter {
    padding: 39px 20px;
    margin-top: 3%;
  }


  .__fod {
    padding: 0 50px;
  }

  .__talaimg img {
    margin-left: 0px;
  }

  .__mapfram {
    width: 100%;
    height: 412px;
  }

  .__landingin {
    padding: 128px 20px;
  }

  .__landbg {
    height: 100%;
  }
  /*end*/
	
}

/*=================================================================
  @media screen 767px
==================================================================*/

@media screen and (max-width: 767px){

  .__landingin {
    padding: 62px 118px;
  }

  .__landingin1 {
    padding: 65px 122px;
  }
  /*talaros*/
}


/*=================================================================
  @media screen 560px
==================================================================*/


  @media screen and (max-width: 560px){

  /*talaros*/
  .__hdnav {
    padding: 0;
  }

  .__logo {
    width: 86px;
    margin-top: -4px;
    margin-left: 0;
  }
  .__fcardpostion {
    position: unset;
    top: 0px;
    width: 100%;
  }

  .__ibg {
    min-height: 100%;
    margin-top: 0;
    padding-bottom: 10px;
  }

  .__visad {
    font-size: 16px;
    margin-top: 0;
    height: 100%;
  }

  .__topfcard {
    color: #ffffff;
  }

  .__formcard {
    padding: 10px 14px;
    color: #fff;
    background: #ffffff2e !important;
  }

  .__fcvip {
    font-size: 19px;
  }

  .__mbinp {
    margin-top: 10px;
  }

  .__talawhy {
    font-size: 25px;
  }

  .__talavipimg {
    padding-left: 66px;
    margin-top: 20px;
  }

  .__dropimg img {
    width: 40px;
  }

  .__talaour {
    margin-top: 0;
    padding: 0;
  }

  .__talaour p {
    font-size: 12px;
    text-align: justify;
  }

  .__talaimg img {
    width: 166px;
    height: 166px;
    margin-left: 42px;
  }

  .__taladownimg img {
    margin-left: 0;
    width: 53px;
  }

  .__whateverpad {
    padding: 0;
  }

  .__talabecomet {
    margin-top: 0%;
  }

  .__foter {
    padding: 39px 15px;
    text-align: center;
  }

  .__fosocai {
    text-align: center;
    float: none;
  }

  .__picture {
    width: 100%;
  }

  #picture_preview {
    width: 80px;
    height: 80px;
  }

  .__picture .__pimg {
    margin-top: 46px;
    margin-left: -29px;
  }

  .__modalcontent {
    margin: 0;
  }

  .__visad1 {
    margin-top: 0%;
  }

  .__mapfram{
    width: 100%;
  }

  .__landingin {
    padding: 26px 15px;
  }

  .__landingin .img{
    text-align: center;
  }

  .__landingin .img img{
    width: 140px;
  }

  .__landbg {
    height: 100%;
  }

  .__landingin1 {
    padding: 30px 15px;
  }
  /*end*/



  



}

