/*=================================================================
	Basic Setup css
==================================================================*/
html {
    font-size: 100%;
    min-height: 100%;
}

body {
  /*font-family: 'Lato', sans-serif;*/
	font-family: 'Raleway-Regular', sans-serif;
	font-size: 14px;
	color: #222222;
	font-weight: normal;
	overflow-x: hidden;
	line-height: 20px;
}




@font-face{
  font-family: 'Raleway-Regular';
  src: url('../../raleway/Raleway-Regular.ttf');
}

@font-face{
  font-family: 'Raleway-Medium';
  src: url('../../raleway/Raleway-Medium.ttf');
}

/*@font-face{
  font-family: 'Raleway-Medium';
  src: url('../../raleway/Raleway-Medium.ttf');
}
@font-face{
  font-family: 'Raleway-Light';
  src: url('../../raleway/Raleway-Light.ttf');
}
@font-face{
  font-family: 'Raleway-ExtraBold';
  src: url('../../raleway/Raleway-ExtraBold.ttf');
}
@font-face{
  font-family: 'Raleway-Heavy';
  src: url('../../raleway/Raleway-Heavy.ttf');
}

@font-face{
  font-family: 'Raleway-Bold';
  src: url('../../raleway/Raleway-Bold.ttf');
}

@font-face{
  font-family: 'HelveticaNeue Medium';
  src: url('../../helveticaneue/HelveticaNeue Medium.ttf');
}

@font-face{
  font-family: 'Helvetica Neu Bold';
  src: url('../../helveticaneue/Helvetica Neu Bold.ttf');
}*/
/*.f1{
  font-family: "Poppins-Regular";
}
.f2{
  font-family: "Sofia Pro Regular";
}
.f3{
  font-family: "sofiapro-light";
}
.f4{
  font-family: "Cera GR Thin";
}
.f5{
  font-family: "Cera GR Black";
}*/
 
 .l-h2{line-height: 27px}
.l-h{line-height: 45px;}
.l-h3{line-height: 60px;}
.l-h1{line-height: 30px;}


a,
a:active,
a:hover,
a:focus,
a:visited{
	text-decoration:none;
	/*background:transparent;*/
	outline:none;
	color:inherit;
}

/*a:hover{
	color: #663fb5 !important;
}*/

button:focus{
	outline:none;
}

li{
	/*list-style:none;*/
}

article,
figure,
footer,
header,
nav,
section{
	display:block
}

select:focus {
    outline-offset:0;
}

/* Internet Explorer 10 in Windows 8 and Windows Phone 8 Bug fix */
@-webkit-viewport {
	width: device-width;
}
@-moz-viewport {
	width: device-width;
}
@-ms-viewport {
	width: device-width;
}
@-o-viewport {
	width: device-width;
}
@viewport {
	width: device-width;
}





a:focus, a:hover {
    	text-decoration:none !important;
	}


.navbar {
    /*position: relative;*/
    min-height: 50px;
    margin-bottom: 20px;
    border: none;
}

.navbar-toggle {
  /*border: 2px solid #FFFFFF;*/
  color: #ffffff;
}

.navbar-toggle .icon-bar {
    background: #fff !important;
}

.nav > li > a:hover, .nav > li > a:focus {
    background-color: transparent;
}

.header-body {
  height: calc(100vh - 80px);
}

#form .input-group input[class="form-control"] {
  border-radius: 50px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  font-size: 17px;
  color:#222;
  padding:7px 12px;
  border-right-width:0;
}
.box-s{
  /*box-shadow: 0px 5px 5px #888888;*/
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
}
#form .input-group select[class="form-control"] {
  border-radius:50px;
  border-top-left-radius:0;
  border-bottom-left-radius:0;
  font-size:17px;
  width:100px;
  color:#222;
  border-left-width:0;
}

.form-control:focus {
    border:1px solid #ccc !important;
    outline:0;
    -webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(254, 86, 33, .6) !important;
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075), 0 0 2px rgba(0, 0, 0, .6) !important;
}

.form-group1 .form-control:focus {
    border:none!important;
    outline:0;
    -webkit-box-shadow:none !important;
    box-shadow: none !important;
    border-bottom:1px solid brown !important;
}








.clearfix{
  clear: both;
}




.dis-f {display:flex !important;}
    
.diss-none {display:none !important;}
    


.bs{box-shadow: 0 4px 10px rgba(0,0,0,0.43);}

.bs3{box-shadow: 0px 0px 10px #663FB5;}







/*clip-path: polygon(0 0, 1600px 0, 1600px 87%, 0 100%);*/
/*end*/




.bg-head{
  /*background: linear-gradient(100deg, rgba(215, 221, 232, 0.6) 50%, rgba(215, 221, 232, 0.6) 50%),url(../img/capture.png);*/
  /*background-attachment: fixed;*/
  /*background-image: url(../img/capture2.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;*/
    /*background-blend-mode: normal;*/
    /*clip-path: polygon(0 0, 1600px 0, 1600px 87%, 0 100%);*/
}
.bg-head4{
  background-image: url(../img/capture4.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.bg-head41{
  background:linear-gradient(100deg, rgba(34, 34, 34, 0.5) 50%, rgba(34, 34, 34, 0.5) 50%), url(../img/landingpage.png);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /*min-height: 634px;*/
}

.bg-head1{
  background-color: #FCFCFC !important;
   clip-path: polygon(0 0, 1600px 0, 1600px 100%, 0 100%);

}
.bg-headp{
  background-color: #F7F7F7 !important;
}
.bg-head2{
  background-color: #DDDDDD!important;
   clip-path: polygon(0 0, 1600px 20%, 1600px 100%, 0 100%);

}
	


::-webkit-scrollbar{
	height: 7px;
	width: 7px;
}
::-webkit-scrollbar-track{
	border-radius: 50px;
	/*-webkit-box-shadow:inset 0 0 6px rgba(0,0,0,0.1);*/
}
::-webkit-scrollbar-thumb{
	border-radius: 1px;
	background-color: #a7a7a7;
}


/*=================================================================
	Dashboard Css
==================================================================*/


/*adminsection*/
.leftbar{
  position: fixed;
  /*padding-top: 42px;*/
  padding-top: 6%;
  left: 0%;
  /*top: 0%;*/
  background-color: #ffffff;
  /*border-right: 1px solid #c0bebe33;*/
  border-right: 1px solid #e3e3e3;
  width: 256px;
  height: 100%;
  transition: all .6s ease;
  overflow-y: scroll;
  overflow-x: hidden;
}
.leftbart{
  position: fixed;
  /*padding-top: 42px;*/
  padding-top: 1%;
  left: 0%;
  /*top: 0%;*/
  background-color: #ffffff;
  /*border-right: 1px solid #c0bebe33;*/
  border-right: 1px solid #e3e3e3;
  width: 256px;
  height: 100%;
  transition: all .6s ease;
  overflow-y: scroll;
  overflow-x: hidden;
}

.leftbar::-webkit-scrollbar {
    width: 0px;
}
.leftbart::-webkit-scrollbar {
    width: 0px;
}
.butt_section{
  padding: 35px;
}
.leftbar p {
  /*font-family: Raleway-Medium;*/
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.4px;
  color: #595959;
  background-color: white;
  padding: 8px 16px;
  margin-bottom: 0;
  cursor: pointer;
  /*text-align: center;*/
  line-height: 26px;
}

.__dashnotif {
    position: absolute;
    /* margin-top: 18px; */
    color: #ea4335;
    font-size: 8px;
    /* margin-left: -11px; */
  }

  .deleteBox .delete {
  cursor: pointer;
  color: #ffffff;
  margin-top:10px;
  float: right;
}

.leftbart p {
  /*font-family: Raleway-Medium;*/
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.4px;
  color: #595959;
  background-color: white;
  padding: 12px 16px;
 /* margin-bottom: 10%;*/
  cursor: pointer;
  /*text-align: center;*/
  line-height: 23px;
}
.dashboard_name {
    padding: 2px;
    margin-left: 16%;
    margin-bottom: 10%;
}
.leftbar i {
    float: left;
    padding: 4px;
}
.leftbart i {
    float: left;
    padding: 4px;
}
.activedashboard{
  /*background-color: #f9f9f9 !important;*/
  /*font-family: Raleway-Bold !important;*/
  font-size: 14px !important;
  font-weight: 600 !important;
  letter-spacing: 0.4px;
    /*color: #595959 !important;*/
    border-left: 4px solid #298FCE !important;
    /*border: 1px solid #f0842d;*/
    color: #298FCE !important;
    /*width: 197px;*/
    width: 100%;
}


/*end*/











/*=================================================================
	Custom Css
==================================================================*/

/*talaros*/

.__logo{
  margin-top: -19px;
}
.__hdnav{
  background: #433e59;
  padding: 12px;
    border-radius: 0;
}

.__hdnav li a{
  color: #ffffff;
}
/*for muiltiple upload images*/
input[type="file"] {
  display: block;
}
.imageThumb {
  max-height: 75px;
  border: 1px solid #00aeef;
  padding: 1px;
  cursor: pointer;
}
.pip {
  display: inline-block;
  margin: 10px 10px 0 0;
}
.remove {
  display: block;
  background: #00aeef;
  border: 1px solid #00aeef;
  color: white;
  text-align: center;
  cursor: pointer;
}
.remove:hover {
  background: white;
  color: black;
}

.__fcardpostion{
      position: absolute;
    top: -196px;
    width: 496px;
}

.__topfcard{
  text-align: center;
  /*font-family: Raleway-Medium;*/
  font-size: 20px;
  font-weight: 600;
  /*line-height: 1.2;*/
  letter-spacing: 0.6px;
  color: #6b6b6b;
}

.__fcvip{
  text-align: center;
  font-family: Raleway-Medium;
  font-size: 29px;
  font-weight: 900;
  margin: 6px;
}

.__fcviphr {
    margin-top: 0px;
    border-top: 6px solid #359ad1;
    border-radius: 10px;
    box-shadow: 0px 0px 7px -1px rgba(60, 60, 60, 0.64);
}

.__formcard{
  background: #fff;
    border: 1px solid #d3d3d373;
    padding: 10px 35px 25px;
    border-radius: 5px;
    box-shadow: 0 0 45px 0 rgba(46, 104, 208, 0.1);
}


.typed-cursor {
    opacity: 1;
    color: #9582a9;
    font-weight: 800;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    -ms-animation: blink 0.7s infinite;
    -o-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}

.__visad{
  font-family: Raleway-Medium;
  font-size: 29px;
  font-weight: 900;
  line-height: 1.2;
  letter-spacing: 0.6px;
  color: #6b6b6b;
  margin-top: 19%;
  /*height: 50px;*/
}

.__visad1{
  margin-top: 20%;
  /*font-family: AvenirLTStd-Heavy;*/
  font-size: 15px;
    line-height: 1.6;
  font-weight: 600;
  letter-spacing: 0.4px;
  color: #6b6b6b;
  /*text-shadow: 0 2px 4px rgba(184, 184, 184, 0.5);*/
  text-align: justify;
}

.__ibg{
  background:linear-gradient(100deg, rgba(34, 34, 34, 0.5) 50%, rgba(34, 34, 34, 0.5) 50%), url(../img/sutirta.jpg);
    /*background-attachment: fixed;*/
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 500px;
    margin-top: 30px;
}

.__btnvip{
  background-image: linear-gradient(90deg, #ea4c89, #359ad1);
  border: #ea4c89;
  /*background: #359ad1;*/
    color: #ffffff;
    padding: 10px;
    font-size: 16px;
    font-weight: 600;
    transition: all 0.4s ease-in;
}

.__btnvip:hover{
  background-image: linear-gradient(10deg, #ea4c89, #359ad1);
  /*background: ;*/
    color: #ffffff;
    padding: 10px;
    font-size: 16px;
    font-weight: 600;
}

.form-control {
    height: 40px;
}

.__talaimg img{
     width: 166px;
    height: 166px;
    margin-left: 42px;
}

.__talaimg p{
    font-size: 13px;
    font-weight: 600;
    letter-spacing: 0.4px;
    color: #6b6b6b;
}

.__taladownimg img{
  margin-left: -76px;
}

.__whateverpad{
  padding: 14px 131px;
}

.__talaour{
  margin-top: -62px;
  padding: 0 60px;
}

.__talaour h3{
  font-family: Raleway-Medium;
    font-size: 23px;
    font-weight: 600;
    line-height: 1.2;
    letter-spacing: 0.6px;
    color: #6b6b6b;
}

.__talaour p{
  font-size: 13px;
    font-weight: 600;
    letter-spacing: 0.4px;
    color: #6b6b6b;
  /*text-align: justify;*/
}

.__talawhat{
  font-size: 18px;
    font-weight: 600;
    letter-spacing: 0.4px;
    color: #6b6b6b;
    text-align: center;
}

.__talawe p{
  font-size: 13px;
    font-weight: 600;
    letter-spacing: 0.4px;
    color: #6b6b6b;
}

.__talawe a{
background-image: linear-gradient(90deg, #ea4c89, #359ad1);
  border: #ea4c89;
  /* background: #359ad1; */
  color: #ffffff !important;
  padding: 7px 20px;
  font-size: 16px;
  font-weight: 600;
  transition: all 0.4s ease-in;
}

.__talawe a:hover {
  background-image: linear-gradient(10deg, #ea4c89, #359ad1);
  color: #ffffff;
}

.__talawhy{
  text-align: center;
    font-family: Raleway-Medium;
    font-size: 29px;
    font-weight: 900;
    margin-top: 35px;
}

.__talavipimg{
  padding-left: 122px;
}

.__dropimg img{
  float: right;
  margin-top: -50px;
}

.__talabecomet{
  margin-top: 15%;
}

.__foter{
  background-color: #060c17;
  /*border: solid 1px #060c17;*/
  padding: 39px 221px;
  margin-top: 3%;
  color: #ffffff;
}

.__fh{
    font-family: Raleway-Medium;
font-size: 18px;
  font-weight: 900;
  letter-spacing: 2.7px;
  color: #ffffff;
}

.__fotr{
  /*font-family: Raleway-Medium;*/
  font-size: 12px;
  font-weight: 200;
  letter-spacing: 1.1px;
  /*color: #777777 !important;*/
  transition: all 0.4s ease-in;
}

.__fotr:hover{
  color: #ea4c89 !important;
}

.__nesbtn{
      background-image: linear-gradient(90deg, #ea4c89, #359ad1);
    border: #ea4c89;
    /* background: #359ad1; */
    color: #ffffff;
    padding: 9px 12px;
    font-size: 16px;
    font-weight: 600;
    transition: all 0.4s ease-in;
}

.__fod{
  padding: 0 70px;
}

.__fotcop{
  /*font-family: Raleway-Medium;*/
  font-size: 11px;
  letter-spacing: 1.5px;
  text-align: center;
  /*color: #777777;*/
}

.__fosocai{
  margin-left: -16px;
  /*float: right;*/
}

.__fotsohf{
  font-size: 20px;
  padding: 10px 10px 6px;
  transition: all 0.4s ease-in;
}
.__fotsohf:hover{
  background-color: #3B5998;
  color: #ffffff;
  border-radius: 3px;
}

.__fotsohi{
  font-size: 20px;
  padding: 10px 10px 6px;
  transition: all 0.4s ease-in;
}
.__fotsohi:hover{
  background-color: #e9003f;
  color: #ffffff;
  border-radius: 3px;
}

.__fotsoht{
  font-size: 20px;
  padding: 10px 10px 6px;
  transition: all 0.4s ease-in;
}

.__fotsoht:hover{
  background-color: #25D366;
  color: #ffffff;
  border-radius: 3px;
}

.__accordion {
    background-color: transparent;
    color: #444;
    cursor: pointer;
    padding: 18px 0px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    font-weight: 600;
    transition: 0.4s;
}

.active, .__accordion:hover {
    background-color: transparent !important;
    color: #359ad1;
}

.__accordion:after {
    content: '\002B';
    color: #777;
    font-weight: bold;
    float: right;
    margin-left: 5px;
    border: 1px solid;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    padding-left: 6px;
}

.active:after {
    content: "\2212";
}

.panel {
  /*font-family: Raleway-Bold;*/
  font-size: 13px;
  font-weight: 600;
  line-height: 1.63;
  /*color: #919191;*/
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    box-shadow: 0 1px 0px rgba(0,0,0,.05);
}

#picture_preview{
  /*max-width: 100px;
  max-height: 100px;*/
  width: 90px;
  height: 90px;
  transition: all 1s ease-in;
}

.__picture{
  width: 102px;
  /*height: 195px;*/
  /*position: relative;*/
  cursor: pointer;
  text-align: center;
  /*margin-top: -30px;*/
}

.__picture img{
  width: 100%;
  height: 100%;
  border: 1px solid #979797;
  transition: all 2s ease;
}
.__picture input {
   cursor: pointer;
    position: absolute;
    display: block;
    margin-top: -91px;
    left: 22px;
    opacity: 0;
    height: 93px;
    width: 90px;
}

.__picture .__pimg {
    position: absolute;
    margin-top: 53px;
    width: 32px;
    height: 32px;
    margin-left: -30px;
}

.__donln {
    border: none;
    /*background-color: #298fce;*/
}

.__modalcontent{
  margin: 10px 102px;
}

ul {
    list-style: none;
}

.__discliamer p{
  color: #6b6b6b;
  font-size: 13px;
  font-weight: 600;
  letter-spacing: 1.0px;
}

.__mapfram{
  width: 600px;
  height: 450px;
}
/*end*/








/*end